body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #00192e;
}

.register-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    width: 100%;
}

.imagem {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}